body {
    font-family: 'Crimson', serif !important;
    background-image: url('https://static.vecteezy.com/system/resources/previews/042/374/111/non_2x/dark-blue-background-illustration-vector.jpg'); /* background from image*/
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Charm;
    color: white !important;
    margin: 20px;
}

h3 {
    font-family: 'Crimson';
    color: rgb(216, 216, 25) !important;
    margin: 10px;
}

 #form_div {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; 
    text-align: center !important;
    margin: 20px !important;
}

form {
    background-color: rgb(255, 229, 100);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(80, 68, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    color: rgb(58, 44, 3);
}


#div2 {
    background-color: rgb(82, 114, 220);
    border: 2px solid rgb(12, 45, 87) !important;
    border-radius: 10px;
    margin: 10px;
}

#footer {
    background-color: rgb(255, 229, 100);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: rgb(70, 52, 0);
}


